@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
}

/* navbar */

html {
    background-color: #000;
}

body {
    padding: 15px;
    transition: all;
    transition-duration: 0.5s;
}

nav.navbar {
    width: 100%;
    background-color: #000;
    padding-bottom: 100px;
}

nav.navbar ul {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

nav.navbar ul li {
    padding: 0 10px 0 10px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.5s;
}

nav.navbar ul li a {
    padding: 5px;
    text-decoration: none;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 1.1em;
    transition-property: border-radius;
    transition-duration: 0.5;
    box-shadow: 0 0 0 0 #fff
}

nav.navbar ul li:hover {
    padding: 0 10px 0 10px;
    transform: scale(1.2);
}

nav.navbar ul li a:hover {
    padding: 5px;
    text-decoration: none;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: 0 0 2px 1px #fff;
}

.main-link {
    font-size: 1.3em;
}

/* end navbar */

/* main image */

.main-image {
    display: flex;
    align-items: start;
    justify-content: left;
    z-index: 1;
    transition: all 1s ease-in-out .2s;
    transition-duration: 1s;
}

.main-image:hover {
    display: flex;
    align-items: start;
    justify-content: left;
    transform: scale(1.1);
    z-index: 1;
}


.main-image p{
    margin-left: 20px;
    padding: 15px;
    color: #fff;
    font-size: 1.4em;
    border-left: solid 2px #fff;   
    z-index: 1;
}

.main-image img.main-img {
    border-radius: 35px 5px 35px 5px;
    box-shadow: 0 2px 4px 1px #fff;
}



nav .vector-img-1 {
    transform: scale(0.3);
    opacity: 0.4;
    border-radius: 40px;
    rotate: 90deg;
    position: absolute;
    bottom: 250px;
    right: 0px;
    z-index: auto;
}




nav .vector-img-3 {
    transform: scale(0.3);
    opacity: 0.4;
    border-radius: 40px;
    rotate: 135deg;
    position: absolute;
    bottom: -200px;
    right: 560px;
    z-index: auto;
}

/* end main image */

/* second image */

.second-image {
    display: flex;
    align-items: start;
    justify-content: left;
    transition: all 1s ease-in-out .2s;
    z-index: 1;
}

.second-image:hover {
    display: flex;
    align-items: start;
    justify-content: left;
    transform: scale(1.1);
    z-index: 1;
}

.second-image p{
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    color: #fff;
    font-size: 1.4em;
    border-right: solid 2px #fff;   
    z-index: 1;
}

.second-image p:hover{
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    color: #fff;
    font-size: 1.4em;
    border-right: solid 2px #fff;   
    z-index: 1;
    
}

.second-image img.main-img {
    border-radius: 5px 35px 5px 35px;
    box-shadow: 0 2px 4px 1px #fff;
    order: 2;
    z-index: 1;
}

img.vector-img-second {
    transform: scale(0.3);
    opacity: 0.6;
    border-radius: 40px;
    rotate: 45deg;
    position: absolute;
    bottom: 250px;
    left: 60px;
}

/* end second image */

.footer .vector-img-2 {
    transform: scale(0.3);
    opacity: 0.4;
    border-radius: 40px;
    rotate: 45deg;
    position: absolute;
    bottom: -700px;
    right: 1000px;
    z-index: auto;
}

.footer {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;
    border-top: 1px solid #fff;
}


.footer-images {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 50px;
    margin: 15px;
    transition-property: all;
    transition-duration: 0.5s;
}

.footer-images:hover {
    width: 50px;
    margin: 15px;
    transform: scale(1.3);

}

